.grocery-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.item-name {
    font-size: 20px;
    padding-top: 10px;
}

.item-button {
    margin-top: 1em;
    height: 3em;
    width: 4em;
}

html {
    color: darkslategray;
    background-color: #fffefd;
}

body {
    padding-top: 3rem;
}

.purchased-false {
    height: 40px;
    background-color: red;
}

.purchased-true {
    height: 40px;
    background-color: green;
}

.strikethrough {
    text-decoration: line-through;
    color: slategray;
}

h1 {
    text-decoration: underline;
    font-style: roboto;
}

.grocery-addItem {
    margin-top: 1rem;
    padding-top: 1rem;
}

.list-title {
    font-size: 30px;
    text-shadow: 2px 2px grey;
    color: black;
}

.item-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 35%;  
}

.item-component {
    margin: 10px 0; 
    border: 2px solid black;
    width: 25em;
}